body {
  /* 寬度 */
    width: 90%;
    margin: 20px auto;
  }
  #menu {
    width: 20%;
    height: 500px;
    background-color: darkturquoise;
    float: left;
  }
  
  #section {
    float: right;
    width: 80%;
    height: 500px;
    background-color: rgb(152, 230, 230);
  }
  #menu nav ul {
    /* 連結 */
    padding: 0px;
  }
  
  #menu nav li {
    list-style-type: none;
    /* 連結間隔距離 */
    margin: 20px;
    /* 字形大小 */
    font-size: 15px;
    /* 置中 */
    text-align: center;
  }
  
  #menu nav a {
    /* 連結背景顏色和大小 */
    padding: 5px;
    background-color: darksalmon;
  }
  
  #menu nav a:hover {
    /* 放上去後的顏色 */
    background-color: crimson;
  }
  